<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>


<body>

    <div>
        <h2 class="titulo">Notificaciones</h2>
        <p id="descripcion">las notificaciones son una herramienta clave para mantener a una comunidad informada, comprometida y
            cohesionada. </p>
    </div>

    <hr>

    <div class="contenedor">

        <div id="buscar">
            <input type="text" class="form-control" name="filtrar" placeholder="buscar" [(ngModel)]="filtroNotificaciones">
        </div>

        <div class="contenedor2">

            <table id="example" class="table">
                <thead>
                    <tr>
                        <th scope="col" width="300px" style=" font: 1em sans-serif;">Asunto</th>
                        <th scope="col">Detalles</th>
                        <th scope="col">Destinatario</th>
                        <th scope="col" style="text-align:center;width:200px;">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr tr mat-row matRowDef="columns: displayedcolumns;"
                        *ngFor="let notificacion of notificaciones1 | filtroNotificaciones: 'asunto': filtroNotificaciones">
                        <td style=" font: 1em sans-serif;">{{ notificacion.asunto }}</td>
                        <td>{{ notificacion.mensaje }}</td>
                        <td>{{ notificacion.id_destinatario }}</td>
                        <td id="td-view">

                            <button type="button" id="view-button">
                                <mat-icon style="font-size:medium;">visibility</mat-icon>
                            </button>

                        </td>
                    </tr>

                </tbody>
            </table>


        </div>

        <div class="pages">
            <mat-paginator [length]="notificaciones.length" [pageSize]="verdaderoRango"
                [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" (page)="pageChanged($event)">
            </mat-paginator>
        </div>
    </div>
</body>