<body>

  <div>
    <h2 class="titulo">Gestión de egresos</h2>
    <p id="descripcion">Registra tus egresos y toma el control de tus finanzas. </p>
  </div>

  <hr>

  <div class="contenedor">

    <form id="buscar">
      <input type="text" id="tbuscar" class="form-control" name="filtrar" placeholder="buscar">
      <label for="modal" class="boton">Agregar</label>
    </form>

    <div class="contenedor2">

      <table id="example" class="table">
        <thead>
          <tr>
            <th>ID Egreso</th>
            <th>Concepto</th>
            <th>Descripción</th>
            <th>Proveedor</th>
            <th>Monto</th>
            <th>Fecha</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let egreso of egresos">
            <td>{{ egreso.id_egreso }}</td>
            <td>{{ egreso.concepto }}</td>
            <td>{{ egreso.descripcion }}</td>
            <td>{{ egreso.proveedor }}</td>
            <td>{{ egreso.monto }}</td>
            <td>{{ egreso.fecha }}</td>
            <td> 
              <label (click)="seleccionarEgreso(egreso)" style="margin-left: 10px;">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
              </label>
            </td>
            <td>
                <label (click)="eliminarEgreso(egreso.id_egreso)" style="margin-left: 20px;">
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="clear"></mat-icon>
                </label>
            </td>
          </tr>
        </tbody>
      </table>

    </div>


    
        <!--------------------------FINAL MODAL ------------------------------------------------>



        <input type="checkbox" id="modal">

        <label for="modal" class="modal-background"></label>



        <div class="modal">
            <div class="modal-header">
                <h3>Agregar nuevo egreso</h3>

                <label for="modal">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAdVBMVEUAAABNTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU0N3NIOAAAAJnRSTlMAAQIDBAUGBwgRFRYZGiEjQ3l7hYaqtLm8vsDFx87a4uvv8fP1+bbY9ZEAAAB8SURBVBhXXY5LFoJAAMOCIP4VBRXEv5j7H9HFDOizu2TRFljedgCQHeocWHVaAWStXnKyl2oVWI+kd1XLvFV1D7Ng3qrWKYMZ+MdEhk3gbhw59KvlH0eTnf2mgiRwvQ7NW6aqNmncukKhnvo/zzlQ2PR/HgsAJkncH6XwAcr0FUY5BVeFAAAAAElFTkSuQmCC"
                        width="16" height="16" alt="">
                </label>



            </div>

            <div class="form">
        
              <form id="formCrear" class="Formulario" #egresoForm="ngForm" (ngSubmit)="agregarEgreso()">
                <label for="fraccionamiento">Fraccionamiento:</label>
                <input type="text" id="fraccionamiento" name="fraccionamiento" [(ngModel)]="id_fraccionamiento" required
                  disabled>
        
                <label for="proveedor">Proveedor:</label>
                <select id="proveedor" name="proveedor" [(ngModel)]="egresoModel.proveedor" required>
                  <option *ngFor="let proveedor of proveedores" [value]="proveedor.nombre">{{proveedor.id_proveedor}}-{{
                    proveedor.nombre }}</option>
                </select>
        
                <label for="monto">Monto:</label>
                <input type="number" id="monto" name="monto" [(ngModel)]="egresoModel.monto" required>
        
                <label for="concepto">Concepto:</label>
                <input type="text" id="concepto" name="concepto" [(ngModel)]="egresoModel.concepto" required>
        
                <label for="fechaEgreso">Fecha de egreso:</label>
                <input type="date" id="fechaEgreso" name="fechaEgreso" [(ngModel)]="egresoModel.fecha" required>
        
        
                <label for="descripcion">Descripción:</label>
                <textarea name="descripcion" [(ngModel)]="egresoModel.descripcion" required></textarea>
        
                <div class="botones-container">
                  <button type="submit" class="boton-verde">Agregar</button>
                  <button (click)="actualizarEgreso()" type="button" class="boton-verde">Actualizar</button>
                </div>
              </form>
        
            </div>


        </div>












  </div>
</body>